{% include base_sphinx_config %}

{%- if html_theme %}
html_theme = {{ html_theme | repr }}
{%- endif %}

{% if 'myst_parser' in extensions %}
myst_enable_extensions = [
  "colon_fence",
]
{% endif %}
